#content {
  width: 960px;
}

#header {
  width: 960px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Font family for the Subheadings on the portfolio / Permanent Marker */
/* font-family: 'Permanent Marker', cursive;
font-family: 'Staatliches', cursive; */

/* Font family for the classier text  */
/* font-family: 'Cormorant Garamond', serif; */